.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-slider {
  display: flex;
  overflow: hidden;
}

.carousel-slider-wrapper {
  display: flex;
}

.carousel-slide {
  flex-shrink: 0;
  padding: 20px;
}
