.header__navbar {
  width: 75%;
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 2rem;

  & > li {
    margin: 2rem;
    padding-top: 1rem;
    white-space: nowrap;
    color: var(--color--text-inactive);
  }
}

.is-active {
  border-top: 1px solid black;
  color: black !important;
}
