@use './mixins';
@use './vars';

.additionnal__container {
  @include mixins.flex(row);
  width: 70%;
  margin-top: 5rem;

  &__card {
    @include mixins.flex(row);
    margin: 0.5rem;
    &__details {
      width: 50%;
      @include mixins.flex(column, $align: flex-start, $justify: space-between);
    }
    &__image {
      display: flex;
      width: 50%;

      & img {
        width: 250px;
        height: 50%;
      }
    }
  }
}
