@use './mixins';
@use './vars';

.additionnal__container {
  @include mixins.flex(column);
  // flex-wrap: wrap;
  width: 70%;
  margin-top: 5rem;

  &__card {
    @include mixins.flex(row);
    width: 50%;
    margin: 0.5rem;
    &__details {
      width: 50%;
      margin-left: 2rem;
      @include mixins.flex(column, $align: flex-start, $justify: space-between);

      & > * {
        margin: 0.5rem 0;
      }

      & h3 {
        font-size: 1.4rem;
      }
    }
    &__image {
      display: flex;
      // width: 50%;

      & img {
        width: 210px;
        height: 50%;
      }
    }
  }
}
