.articles__container {
  width: 80%;
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4rem 0;
    font-family: var(--fontText);

    &__left {
      flex-direction: row-reverse;
    }

    &__description {
      width: 50%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      min-height: 450px;
      padding: 0 2rem;

      &__title {
        font-family: var(--fontTitle);
        font-size: 2.2rem;
        text-transform: uppercase;
        letter-spacing: 1.2;
      }
      &__text {
        letter-spacing: 1px;
        text-align: justify;
        font-size: 1.1rem;
        color: #404040;

        & p {
          margin: 1rem 0;
        }
      }
    }
  }

  &__image {
    position: relative;
    width: 600px;
    height: 450px;
  }
}

.button {
  width: 180px;
  margin-top: 1rem;
  padding: 0.4rem 1rem;
  background-color: var(--color--button);
  border-style: none;
  font-size: 1rem;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .articles__container {
    width: 100%;

    &__item {
      flex-direction: column-reverse;
      margin: 1rem 0;

      &__description {
        width: 95%;
        margin: 1.6rem 0;

        &__text {
          font-size: 1rem;
        }

        &__title {
          font-size: 1.6rem;
          text-align: center;
        }
      }
    }
  }

  .button {
    width: 100%;
  }
}
