@use './mixins';
@use './vars';

.business__container {
  margin-top: 2rem;
  width: 80%;

  &__details {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;

    &__background {
      width: 50%;
      min-height: 660px;
      background-image: url('/images/business__portrait.jpeg');
      background-attachment: fixed;
      background-position: bottom 30%;
      background-repeat: no-repeat;
      background-size: 65%;
    }

    &__card {
      width: 50%;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      letter-spacing: 1px;
      text-align: start;

      & li {
        list-style-type: '- ';
      }

      &__price {
        font-family: var(--fontTitle);
        font-size: 1.6rem;
      }

      & > * {
        margin: 0.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .business__container {
    width: 100%;
    &__details {
      flex-direction: column;
      align-items: center;
      &__background {
        width: 100%;
        background-attachment: scroll;
        background-position: center;
        background-size: 100%;
        min-height: 440px;
      }
      &__card {
        width: 95%;
        margin-top: 2rem;
        padding: 0 0.5rem;
        align-items: center;
        & p {
          text-align: justify;
          font-size: 0.9rem;
        }
        &__price {
          font-size: 1.1rem !important;
          color: vars.$colorTitleLightTheme;
        }
        & ul {
          padding-left: 0;
          font-size: 0.9rem;
        }
      }
    }
    a {
      width: 100% !important;
    }
    .btn_business {
      @include mixins.button(100%);
    }
  }
}
