@use './mixins';
@use './vars';

.container__business {
  margin-top: 3rem;
  width: 100%;
  background-image: url('/images/entreprise.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__details {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;

    &__card {
      width: 50%;
      height: 800px;
      padding: 2rem 4rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
      font-family: var(--fontText);
      letter-spacing: 1px;
      text-align: end;
    }
  }
}

.container__event {
  margin-top: 3rem;
  width: 100%;
  background-image: url('/images/entreprise2.jpeg');
  background-attachment: fixed;
  background-position: center/center;
  background-repeat: no-repeat;
  background-size: contain;

  &__details {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;

    &__card {
      width: 50%;
      height: 800px;
      padding: 2rem 4rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
      font-family: var(--fontText);
      letter-spacing: 1px;
      text-align: end;
    }
  }
}

.button {
  @include mixins.button(200px, 1rem 2rem, vars.$backgroundButtonLightTheme);
}
